<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geo.geostats">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:icon="@drawable/ic_launcher">
        <meta-data android:name="capptain:appId" android:value="geo000001"/>
        <service android:name="com.ubikod.capptain.android.service.CapptainService" android:label="GeostatsService" android:process=":Capptain">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ubikod.capptain.ICapptainService" />
                <data android:scheme="capptain" />
            </intent-filter>
            <meta-data android:name="capptain:api:level" android:value="22" />
            <meta-data android:name="capptain:api:id" android:value="b6a5b1113175bf391e442a8653876b84" />
            <meta-data android:name="capptain:log:test" android:value="true" />
        </service>
        <activity
            android:name="com.geo.geostats.Intro"
            android:theme="@style/FullScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.geo.geostats.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Continents"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:label="@string/app_name"
            android:parentActivityName="com.geo.geostats.Main">
            <intent-filter>
                <action android:name="com.geo.geostats.CONTINENTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".Oceans"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:label="@string/app_name"
            android:parentActivityName="com.geo.geostats.Main">
            <intent-filter>
                <action android:name="com.geo.geostats.OCEANS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".Indicators"
            android:label="@string/app_name"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main">
            <intent-filter>
                <action android:name="com.geo.geostats.INDICATORS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".Topics"
            android:label="@string/app_name"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main">
            <intent-filter>
                <action android:name="com.geo.geostats.TOPICS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".TopicsFragmentManager"
            android:label="@string/app_name"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName=".Topics">
            <intent-filter>
                <action android:name="com.geo.geostats.TOPICS_FM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Topics" />
        </activity>
        <activity android:name=".About"
            android:theme="@style/DialogContinents"
            android:label="@string/app_name"
            android:parentActivityName="com.geo.geostats.Main">
            <intent-filter>
                <action android:name="com.geo.geostats.ABOUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".InfoReferences"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:label="@string/app_name"
            android:parentActivityName="com.geo.geostats.Main">
            <intent-filter>
                <action android:name="com.geo.geostats.INFO_REFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
    </application>

</manifest>
