<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.faketouch"/>
    <uses-feature android:required="false" android:name="android.hardware.touchscreen"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="com.geo.geostats.Intro"
            android:theme="@style/FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Continents"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.CONTINENTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".Oceans"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.OCEANS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".Indicators"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.INDICATORS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".Topics"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.TOPICS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".TopicsFragmentManager"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName=".Topics"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.TOPICS_FM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Topics" />
        </activity>
        <activity android:name=".About"
            android:theme="@style/DialogContinents"
            android:parentActivityName="com.geo.geostats.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.ABOUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
        <activity android:name=".InfoReferences"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:parentActivityName="com.geo.geostats.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="com.geo.geostats.INFO_REFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geo.geostats.Main" />
        </activity>
    </application>

</manifest>
